<html>
    <head>
      {% if title %}
        <title>{{ title }} - Microblog</title>
      {% else %}
      <title>missing title</title>
      {% endif %}
    </head>
    <body>
        <div>
          Microblog: <a href={{ url_for('index') }}>Home</a>
          {% if current_user.is_authenticated %}
          Microblog: <a href={{ url_for('logout') }}>logout</a>
          {% else %}
          Microblog: <a href={{ url_for('login') }}>login</a>
          {% endif %}
        </div>
        <br/>
        <div>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p>{{ message }}</p>
          {% endfor %}
          {% endif %}
          {% endwith %}
        </div>
        {% block content %}{% endblock %}
    </body>
</html>